<form method="post">
    {% csrf_token %}
    {% for fieldset in form.fieldsets %}
        <fieldset>
            {% for field in fieldset %}
                <div class="form-group">
                    {% if field.field.is_checkbox %}
                        <div class="checkbox">
                            <label>
                                {{ field }} {{ field.label }} <span class="error-text"></span>
                            </label>
                        </div>
                    {% else %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="help-block error-text"></span>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
    {% endfor %}
</form>
