{% for advert in paginated_adverts %}
    {% include 'adverts_v2/advert-in-list.html' %}
{% endfor %}

{% if paginated_adverts.has_next %}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <a id="load-more-button" class="btn btn-primary btn-lg btn-block" href="?page={{ paginated_adverts.next_page_number }}" role="button">Показать еще</a>
        </div>
    </div>
{% endif %}
