<div id="advert-{{ advert.id }}" class="row advert-item">
    {% with photos=advert.photos.all %}
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row advert-item-header">
                        <div class="col-xs-3 advert-id">
                            <h2># {{ advert.id }}</h2>
                        </div>
                        <div class="col-xs-9 advert-controls" data-advert-id="{{ advert.id }}">
                            <button type="button" class="btn btn-default advert-renew-desc">Обновить описание</button>
                            <button type="button" class="btn btn-default advert-edit">Редактировать</button>

                            <div class="btn-group" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        переместить
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for value, title, extra in statuses %}
                                            <li{% if value == status %} class="disabled"{% endif %}>
                                                <a class="advert-status-change" data-status-id="{{ value }}">
                                                    {{ extra.button_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            {% if status != 1 %}
                                <button type="button" class="btn btn-danger advert-reject">Отклонить</button>
                            {% endif %}

                            {% if status != 3 %}
                                <button type="button" class="btn btn-success advert-add-to-work">В работу</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if advert.title_original and advert.title_original != advert.title %}
                                        <h5><i>{{ advert.title_original }}</i></h5>
                                        <p><button type="button" class="btn btn-default set-original" data-field="title">
                                            Использовать оригинальный заголовок</button></p>
                                    {% endif %}

                                    {% if advert.title %}
                                        <h4>{{ advert.title }}</h4>
                                    {% else %}
                                        <div class="alert alert-warning" role="alert">Не заполнен заголовок</div>
                                    {% endif %}

                                    {% if advert.description_original and advert.description_original != advert.description %}
                                        <div class="well well-sm advert-original-description">
                                            <i>{{ advert.description_original|linebreaksbr }}</i>
                                        </div>
                                        <p><button type="button" class="btn btn-default set-original" data-field="description">
                                            Использовать оригинальное описание</button></p>
                                    {% endif %}

                                    {% if not advert.description %}
                                        <div class="alert alert-warning" role="alert">Не заполнено описание</div>
                                    {% endif %}

                                    <div class="well well-sm advert-description">
                                        {{ advert.description|linebreaksbr }}
                                    </div>

                                </div>
                                {% if photos %}
                                    <div class="col-xs-12 advert-photos">
                                        {% for photo in photos %}
                                            <div class="col-xs-3 advert-photo-wrapper">
                                                <div class="advert-photo-controls" data-photo-id="{{ photo.id }}">
                                                    <input title="статус фотографии" type="checkbox"
                                                            {% if photo.enabled %} checked{% endif %}>
                                                </div>
                                                <a href="{{ photo.image.url }}">
                                                    <img src="{{ photo.image.small.url }}" class="img-thumbnail">
                                                </a>
                                            </div>
                                            {% if forloop.counter|divisibleby:4 %}
                                                </div>
                                                <div class="col-xs-12 advert-photos">
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <ul class="list-unstyled">
                                {% for title, value in advert.short_stats_items_generator %}
                                    <li><b>{{ title }}</b>: {{ value }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
</div>